:root{
    --azul:#202D40;
    --vermelho: #5b2c3c;
    --laranja: #E68A00;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.containera {
    display: inline-block;
    background-color: var(--cor-header);
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    color: var(--laranja);
}

button#submit{
    color: white;
    background-color: #5f5d5d;
    display: inline-flex;
    justify-content: center; /* Isso centraliza horizontalmente */
    align-items: center; /* Isso centraliza verticalmente */
    height: 50px;
    width: 240px;
    border-radius: 10px;
    border: 5px 10px solid #0D1219;
}