:root{
    --azul:#202D40;
    --vermelho: #5b2c3c;
    --laranja: #E68A00;
}

body{
    background-color: white;
    text-align: center;
    background-color: var(--vermelho);

}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

a {
    position: absolute;
    left: 0;
    bottom: 10;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    background-color: #aaa;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    color: antiquewhite;
}

.container {
    display: inline-block;
    background-color: #aaa; 
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 400px;
    height: 400px;
    color: black;
}

input#submit{
    color: white;
    background-color: #5f5d5d;
    display: inline-flex;
    justify-content: center; /* Isso centraliza horizontalmente */
    align-items: center; /* Isso centraliza verticalmente */
    height: 50px;
    width: 240px;
    border-radius: 10px;
    border: 5px 10px solid #0D1219;
}