@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-wrap: wrap; /* Adicionado para permitir que os inputs quebrem de linha dentro do container */
    justify-content: space-between; /* Adicionado para distribuir o espaço entre os elementos */
}

.coluna1, .coluna2 {
    flex: 1;
    margin: 20px 10px 0px 10px;
}

.container {
    display: flex;
    flex-direction: column; /* Muda a direção dos elementos filhos para coluna */
    align-items: center;
    background-color: #aaa;
    text-align: center;
    width: 600px; /* Aumentado para caber todos os inputs */
    padding: 20px; /* Adicionado para dar mais espaço interno */
    color: black;
    border-radius: 10px;
    margin: 0 auto; /* Centraliza horizontalmente na página */
}

input {
    margin: 10px 0px 7px 0px;
}

input#submit {
    color: white;
    background-color: #5f5d5d;
    height: 50px;
    width: 240px;
    border-radius: 10px;
    border: none; /* Removido o border duplicado */
    align-self: center; /* Centraliza horizontalmente dentro do container */
    margin-top: 20px; /* Adicionado espaço superior para separação dos inputs */
}

body {
    background-color: white;
    text-align: center;
    background-color: var(--vermelho);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Faz o main ocupar toda a largura disponível */
    display: flex;
    justify-content: center;
    align-items: center;
}
