/* Corpo do site e HEADER */

body {
    background-color: #5b2c3c;
    color: antiquewhite;
}

header{
    background-color: #341923;
}

a.navbar-brand, a.nav-link{
    color: #dc9d55;
}

.btn-outline-success{
    color: #D08938;
    background-color: #341923;
    border-color: #D08938;
    border-radius: 10%;
}

.sobre { 
    width: 800px;
}

/* Login e Registro */

main.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a#registercadastro{
    background-color: #341923;
    color: antiquewhite;
}

a#cadastro-login{
    color: #a7818f;
}

a#tab-login {
    background-color: #341923;
}

a#tab-register {
    color: #a7818f;
}

a {
    color: #a7818f;
}

.btn-link {
    color: #341923;
}

.form-check-input:checked {
    background-color: #341923;
    border-color: #341923;
}