/* Corpo do site e HEADER */
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    background-color: #5b2c3c;
    color: antiquewhite;
    font-family:'Roboto', sans-serif;
}

header{
    background-color: #341923;
    font-family: 'Roboto', sans-serif;
}

a.navbar-brand, a.nav-link{
    color: #dc9d55;
}

.sobre { 
    width: 800px;
}

section{
    background-color:#202D40;
    color:#dc9d55; 
    font-family: 'Roboto', sans-serif;
}

.texto-section-menor{
    font-size: 13px;
}

.section-facilidades{
    width: 325px;
}

/* Login e Registro */

header{
    background-color: #341923;
    font-family: 'Roboto', sans-serif;
}

main.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a#registercadastro{
    background-color: #341923;
    color: antiquewhite;
}

a#cadastro-login{
    color: #a7818f;
}

a#tab-login {
    background-color: #341923;
}

a#tab-register {
    color: #a7818f;
}

a {
    color: #a7818f;
}

.btn-link {
    color: #341923;
}

.form-check-input:checked {
    background-color: #341923;
    border-color: #341923;
}