main.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a#registercadastro{
    background-color: #6c757d;
    color: white;
}
a#cadastro-login{
    color: #6c757d;
    
}

a#tab-login {
    background-color: #6c757d;
}

a#tab-register {
    color: #6c757d;
}

a {
    color: #6c757d;
}

.btn-link {
    color: #6c757d;
}

.form-check-input:checked {
    background-color: #6c757d;
    border-color: #6c757d;
}